<nav class="my-navbar" role="navigation" stick [stickMin]="50" [stickClass]="'stick'">
  <div class="container-fluid">
    <div class="my-navbar-left">
      <a class="btn btn-lg ripple">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </a>
    </div>
    <div class="my-navbar-center">
    </div>
    <div class="my-navbar-right">
      <a class="btn btn-lg ripple">
        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</nav>
