/*
  Shared
*/
.container {
  padding: 0;
}

.container > section {
  display: flex;
}

.section-divider-line {
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, rgba(234,239,243,0) 0%, rgba(234,239,243,1) 50%, rgba(234,239,243,0) 100%);
    margin: 20px 0;
}

/*
  Shout out section
*/
.my-title {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 179, 0);
  z-index: 2;
}

#shout {
  position: relative;
  overflow: hidden;
}

.banner {
  background-image: url('assets/images/auckland.jpg');
  background-attachment: fixed;
  background-position-x: 50px;
  background-position-y: -250px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 500px;
}

.banner::after {
  content: '';
  z-index: 1;
  position: absolute;
  left: 0;
  right: -1px;
  top: 0;
  height: 200%;
  transform: skewY(23.12deg) translateY(25%);
  transform-origin: top;
  overflow: hidden;
  background-color: #fff;
}

.my-title > h1 {
  font-size: 350%;
}

.my-title > h1, .my-title > h2 {
  text-shadow: 0px 0px 3px black;
}

.my-title > ul {
  list-style: none;
  font-weight: bold;
  padding-left: 0;
}

.my-title > ul > li {
  display: inline-block;
}

.my-title > ul > li:nth-child(n+2):before {
  content: '\2022';
  color: #555;
  font-size: 150%;
  line-height: 0.5em;
  vertical-align: middle;
  margin: 0px 0.25em;
}

/*
  Summary section
*/

.stage {
  overflow: hidden;
  width: 500px;
  height: 350px;
}

.stage .factory {
  position: absolute;
  width: 100px;
  height: 200px;
  background: #e6c747;
  transform: translate(50px, 100px);
}
.stage .factory::before {
  background: #c6a41b;
  border-radius: 1px;
  width: 110px;
  height: 10px;
  top: -10px;
  left: -5px;
}
.stage .factory::after {
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background-color: #c96160;
}

.stage .magic {
  background: #b8e3f0;
  width: 40px;
  height: 45px;
  position: absolute;
  border-radius: 0 0 3px 3px;
  transform: translate(0, -60px);
}
.stage .magic::before {
  background: #af9218;
  bottom: -5px;
  left: 20%;
  width: 60%;
  height: 5px;
}
.stage .magic::after {
  background: #27af61;
  border-radius: 0 0 3px 3px;
  bottom: 3px;
  content: '$' !important;
  left: 3px;
  width: 34px;
  height: 70%;
  overflow: hidden;
  text-align: center;
  animation: upDown 9000ms linear infinite normal;
}

.stage .screen {
  width: 60px;
  height: 50px;
  background-color: #415060;
  position: absolute;
  border-radius: 5px;
  border: 3px solid #fbf7e4;
  transform: translate(15px, 60px);
  overflow: hidden;
}
.stage .screen::before, .screen::after {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  box-shadow: inset 0 0 0 1px rgba(76, 215, 135, 0.2);
  background-color: rgba(76, 215, 135, 0.1);
  transform: translate(-100px, 0px);
  animation: moveRightPseudo 650ms linear infinite normal;
}

.stage .band {
  position: absolute;
  width: 350px;
  height: 15px;
  background: #364451;
  border-radius: 8px;
  transform: translate(50px, 210px);
}
.stage .band::before {
  background-image: radial-gradient(#4b5d6f 40%, rgba(0, 0, 0, 0) 41%);
  background-size: 15px 15px;
  background-position: 0px 0px;
  width: 90%;
  height: 15px;
  top: 0px;
  right: 5px;
  z-index: 2;
  animation: band 2150ms linear infinite normal;
}
.stage .band::after {
  background: #4b5d6f;
  width: 79%;
  height: 75px;
  top: 15px;
  left: 57px;
  transform: skew(-15deg);
}

.stage ul {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 420px;
  height: 140px;
  overflow: hidden;
  transform: translate(50px, 160px);
}
.stage ul:after {
  background: #415060;
  border-radius: 50%;
  width: 60px;
  height: 5px;
  bottom: 0px;
  right: 20px;
  z-index: 0;
}

.stage li {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #d9edf7;
  transform: translate(0px, 10px);
  transform-origin: center bottom;
  animation-name: moveRight;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
.stage li::after {
  display: block;
  content: '</>' !important;
  font-weight: bold;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 30%
}

.stage li:nth-child(1) {
  animation-delay: 0ms;
}

.stage li:nth-child(2) {
  animation-delay: 600ms;
}

.stage li:nth-child(3) {
  animation-delay: 1200ms;
}

.stage li:nth-child(4) {
  animation-delay: 1800ms;
}

.stage li:nth-child(5) {
  animation-delay: 2400ms;
}

.stage .ps, .stage .factory::before, .stage .factory::after, .stage .magic::before, .stage .magic::after, .stage .screen::before, .stage .screen::after, .stage .band::before, .stage .band::after, .stage ul:after, .stage li::after {
  content: '';
  position: absolute;
}

@keyframes moveRight {
  0% {
    transform: translate(0px, 10px);
  }
  80% {
    transform: translate(325px, 10px);
  }
  90% {
    transform: translate(330px, 13px) rotateZ(90deg);
  }
  100% {
    transform: translate(340px, 110px) rotateZ(135deg);
  }
}
@keyframes moveRightPseudo {
  0% {
    transform: translate(-50px, 6px);
  }
  100% {
    transform: translate(60px, 6px);
  }
}
@keyframes upDown {
  0% {
    height: 85%;
  }
  70% {
    height: 25%;
  }
  100% {
    height: 85%;
  }
}
@keyframes band {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 100% 0px;
  }
}

/*
  Experiences section
*/
#experiences {
  flex-direction: column;
}

/*
  Pitch section
*/
